

	<page-title ng-if="layoutOptions.pageTitles" title="Member Profile" description="Member's complete profile"></page-title>

<script type="text/javascript">
	jQuery(document).ready(function($)
	{
		$(".multi-select").multiSelect({
			afterInit: function()
			{
				// Add alternative scrollbar to list
				this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
			},
			afterSelect: function()
			{
				// Update scrollbar size
				this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
			}
		});

		$(".selectboxit").selectBoxIt().on('open', function()
		{
			// Adding Custom Scrollbar
			$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
		});
	});
</script>

<form role="forl" id="rootwizard" class="form-wizard validate" novalidate>

	<ul class="tabs">
		<li class="active">
			<a href="#fwv-1" data-toggle="tab">
				Personal Info
				<span>1</span>
			</a>
		</li>
		<li>
			<a href="#fwv-2" data-toggle="tab">
				Address
				<span>2</span>
			</a>
		</li>
		<li>
			<a href="#fwv-3" data-toggle="tab">
				Contact Info
				<span>3</span>
			</a>
		</li>
		<li>
			<a href="#fwv-4" data-toggle="tab">
				Personal Info
				<span>4</span>
			</a>
		</li>
		<li>
			<a href="#fwv-5" data-toggle="tab">
				Register
				<span>5</span>
			</a>
		</li>
	</ul>

	<div class="progress-indicator">
		<span></span>
	</div>

	<div class="tab-content no-margin">
		<!-- Tabs Content -->
		<div class="tab-pane with-bg active" id="fwv-1">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="first_name">First Name</label>
						<input class="form-control" name="first_name" id="first_name" data-validate="required" placeholder="Your First name" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="middle_name">Middle Name</label>
						<input class="form-control" name="middle_name" id="middle_name" data-validate="required" placeholder="Your Middle name" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="last_name">Last Name</label>
						<input class="form-control" name="last_name" id="last_name" data-validate="required" placeholder="Your Last name" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="birthdate">Gender</label>
						<div class="form-control">
							<label class="radio-inline">
								<input type="radio" name="radio-2" checked>
								Male
							</label>
							<label class="radio-inline">
								<input type="radio" name="radio-2">
								Female
							</label>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="birthdate">Date of Birth</label>
						<input class="form-control" inputmask name="birthdate" id="birthdate" data-validate="required" data-mask="date" placeholder="Pre-formatted birth date" />
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane with-bg" id="fwv-2">
			<div class="row">

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label">Select Country</label>

						<script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#s2example-1").select2({
									placeholder: 'Select your country...',
									allowClear: true
								}).on('select2-open', function()
								{
									// Adding Custom Scrollbar
									$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
								});

							});
						</script>

						<select class="form-control" id="s2example-1">
							<option></option>
							<optgroup label="North America">
								<option>Alabama</option>
								<option>Alaska</option>
								<option>Arizona</option>
								<option>Arkansas</option>
								<option>California</option>
								<option>Colorado</option>
								<option>Connecticut</option>
								<option>Delaware</option>
								<option>Florida</option>
								<option>Georgia</option>
								<option>Hawaii</option>
								<option>Idaho</option>
								<option>Illinois</option>
								<option>Indiana</option>
								<option>Iowa</option>
								<option>Kansas</option>
								<option>Kentucky[C]</option>
								<option>Louisiana</option>
								<option>Maine</option>
								<option>Maryland</option>
								<option>Massachusetts[D]</option>
								<option>Michigan</option>
								<option>Minnesota</option>
								<option>Mississippi</option>
								<option>Missouri</option>
								<option>Montana</option>
								<option>Nebraska</option>
								<option>Nevada</option>
								<option>New Hampshire</option>
								<option>New Jersey</option>
								<option>New Mexico</option>
								<option>New York</option>
								<option>North Carolina</option>
								<option>North Dakota</option>
								<option>Ohio</option>
								<option>Oklahoma</option>
								<option>Oregon</option>
								<option>Pennsylvania[E]</option>
								<option>Rhode Island[F]</option>
								<option>South Carolina</option>
								<option>South Dakota</option>
								<option>Tennessee</option>
								<option>Texas</option>
								<option>Utah</option>
								<option>Vermont</option>
								<option>Virginia[G]</option>
								<option>Washington</option>
								<option>West Virginia</option>
								<option>Wisconsin</option>
								<option>Wyoming</option>
							</optgroup>
							<optgroup label="Europe">
								<option>Albania</option>
								<option>Andorra</option>
								<option>Armenia</option>
								<option>Austria</option>
								<option>Azerbaijan</option>
								<option>Belarus</option>
								<option>Belgium</option>
								<option>Bosnia & Herzegovina</option>
								<option>Bulgaria</option>
								<option>Croatia</option>
								<option>Cyprus</option>
								<option>Czech Republic</option>
								<option>Denmark</option>
								<option>Estonia</option>
								<option>Finland</option>
								<option>France</option>
								<option>Georgia</option>
								<option>Germany</option>
								<option>Greece</option>
								<option>Hungary</option>
								<option>Iceland</option>
								<option>Ireland</option>
								<option>Italy</option>
								<option>Kosovo</option>
								<option>Latvia</option>
								<option>Liechtenstein</option>
								<option>Lithuania</option>
								<option>Luxembourg</option>
								<option>Macedonia</option>
								<option>Malta</option>
								<option>Moldova</option>
								<option>Monaco</option>
								<option>Montenegro</option>
								<option>The Netherlands</option>
								<option>Norway</option>
								<option>Poland</option>
								<option>Portugal</option>
								<option>Romania</option>
								<option>Russia</option>
								<option>San Marino</option>
								<option>Serbia</option>
								<option>Slovakia</option>
								<option>Slovenia</option>
								<option>Spain</option>
								<option>Sweden</option>
								<option>Switzerland</option>
								<option>Turkey</option>
								<option>Ukraine</option>
								<option>United Kingdom</option>
								<option>Vatican City (Holy See)</option>
							</optgroup>
							<optgroup label="Asia">
								<option>Afghanistan</option>
								<option>Bahrain</option>
								<option>Bangladesh</option>
								<option>Bhutan</option>
								<option>Brunei</option>
								<option>Cambodia</option>
								<option>China</option>
								<option>East Timor</option>
								<option>India</option>
								<option>Indonesia</option>
								<option>Iran</option>
								<option>Iraq</option>
								<option>Israel</option>
								<option>Japan</option>
								<option>Jordan</option>
								<option>Kazakhstan</option>
								<option>Korea North</option>
								<option>Korea South</option>
								<option>Kuwait</option>
								<option>Kyrgyzstan</option>
								<option>Laos</option>
								<option>Lebanon</option>
								<option>Malaysia</option>
								<option>Maldives</option>
								<option>Mongolia</option>
								<option>Myanmar (Burma)</option>
								<option>Nepal</option>
								<option>Oman</option>
								<option>Pakistan</option>
								<option>The Philippines</option>
								<option>Qatar</option>
								<option>Russia</option>
								<option>Saudi Arabia</option>
								<option>Singapore</option>
								<option>Sri Lanka</option>
								<option>Syria</option>
								<option>Taiwan</option>
								<option>Tajikistan</option>
								<option>Thailand</option>
								<option>Turkey</option>
								<option>Turkmenistan</option>
								<option>United Arab Emirates</option>
								<option>Uzbekistan</option>
								<option>Vietnam</option>
								<option>Yemen</option>
							</optgroup>
						</select>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="state">State/Provience/Region/Territory</label>

						<select name="test" class="selectboxit">
							<optgroup label="United States">
								<option value="1">Alabama</option>
								<option value="2">Boston</option>
								<option value="3">Ohaio</option>
								<option value="4">New York</option>
								<option value="5">Washington</option>
							</optgroup>
						</select>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="city">City</label>
						<input class="form-control" name="city" id="city" data-validate="required" placeholder="Current city" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="flat_no">House/Flat no./P.O.Box</label>
						<input class="form-control" name="flat_no" id="flat_no" data-validate="required" placeholder="Enter your Flat/House/P.O.Box number" />
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label class="control-label" for="apartment_society_street_name">Apartment Name /Society Name /Street Name </label>
						<input class="form-control" name="apartment_society_street_name" id="apartment_society_street_name" placeholder="Enter Apartment / Society / Street name" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="area_landmark">Area/Landmark</label>
						<input class="form-control" name="area_landmark" id="area_landmark" placeholder="Area / Landmark" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label class="control-label" for="extra_address">(Optional) Address 2</label>
						<input class="form-control" name="extra_address" id="extra_address" placeholder="(Optional) Secondary Address" />
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="zip">Zip</label>
						<input class="form-control" inputmask name="zip" id="zip" data-mask="** *** **" data-validate="required" placeholder="Zip Code" />
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane with-bg" id="fwv-3">

			<strong>Primary School</strong>
			<br />
			<br />


			<div class="row">

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="prim_subject">Subject</label>
						<input class="form-control" name="prim_subject" id="prim_subject" data-validate="require" placeholder="Graduation Degree" />
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="prim_school">School Name</label>
						<input class="form-control" name="prim_school" id="prim_school" placeholder="Which school did you attended" />
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label" for="prim_date_start">Start Date</label>
						<input class="form-control datepicker" name="prim_date_start" id="prim_date_start" data-start-view="2" placeholder="(Optional)" />
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label" for="prim_date_end">End Date</label>
						<input class="form-control datepicker" name="prim_date_end" id="prim_date_end" data-start-view="2" placeholder="(Optional)" />
					</div>
				</div>

			</div>

			<br />

			<strong>Secondary School</strong>
			<br />
			<br />

			<div class="row">

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="second_subject">Subject</label>
						<input class="form-control" name="second_subject" id="second_subject" data-validate="require" placeholder="High School" />
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="second_school">School Name</label>
						<input class="form-control" name="second_school" id="second_school" placeholder="Which school did you attended" />
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label" for="second_date_start">Start Date</label>
						<input class="form-control datepicker" name="second_date_start" id="second_date_start" data-start-view="2" placeholder="(Optional)" />
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label" for="second_date_end">End Date</label>
						<input class="form-control datepicker" name="second_date_end" id="second_date_end" data-start-view="2" placeholder="(Optional)" />
					</div>
				</div>

			</div>

			<br />

			<div class="row">

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="other_qualifications"><strong>Other Qualifications</strong></label>
						<textarea class="form-control autogrow" name="other_qualifications" id="other_qualifications" placeholder="List one subject per row"></textarea>
					</div>
				</div>

			</div>

		</div>

		<div class="tab-pane with-bg" id="fwv-4">

			<strong>Current &amp; Past Jobs</strong>
			<br />
			<br />

			<div class="row">

				<div class="col-md-1">
					<label class="control-label">&nbsp;</label>
					<p class="text-right">
						<span class="label label-info">1</span>
					</p>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<label class="control-label" for="job_position_1">Company Name</label>
						<input class="form-control" name="job_position_1" id="job_position_1" data-validate="require" placeholder="Your current job" />
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="job_position_1">Job Position</label>
						<input class="form-control" name="job_position_1" id="job_position_1" data-validate="require" placeholder="Your current position" />
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label" for="job_position_start_date_1">Start Date</label>
						<input class="form-control datepicker" name="job_position_start_date_1" id="job_position_start_date_1" placeholder="(Optional)" />
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label" for="job_position_end_date_1">End Date</label>
						<input class="form-control datepicker" name="job_position_end_date_1" id="job_position_end_date_1" placeholder="(Optional)" />
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-1">
					<label class="control-label">&nbsp;</label>
					<p class="text-right">
						<span class="label label-info">2</span>
					</p>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<label class="control-label" for="job_position_2">Company Name</label>
						<input class="form-control" name="job_position_2" id="job_position_2" data-validate="require" placeholder="(Optional)" />
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="job_position_2">Job Position</label>
						<input class="form-control" name="job_position_2" id="job_position_2" data-validate="require" placeholder="(Optional)" />
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label" for="job_position_start_date_2">Start Date</label>
						<input class="form-control datepicker" name="job_position_start_date_2" id="job_position_start_date_2" placeholder="(Optional)" />
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label" for="job_position_end_date_2">End Date</label>
						<input class="form-control datepicker" name="job_position_end_date_2" id="job_position_end_date_2" placeholder="(Optional)" />
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-1">
					<label class="control-label">&nbsp;</label>
					<p class="text-right">
						<span class="label label-info">3</span>
					</p>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<label class="control-label" for="job_position_3">Company Name</label>
						<input class="form-control" name="job_position_3" id="job_position_3" data-validate="require" placeholder="(Optional)" />
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="job_position_3">Job Position</label>
						<input class="form-control" name="job_position_3" id="job_position_3" data-validate="require" placeholder="(Optional)" />
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label" for="job_position_start_date_3">Start Date</label>
						<input class="form-control datepicker" name="job_position_start_date_3" id="job_position_start_date_3" placeholder="(Optional)" />
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label" for="job_position_end_date_3">End Date</label>
						<input class="form-control datepicker" name="job_position_end_date_3" id="job_position_end_date_3" placeholder="(Optional)" />
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-1">
					<label class="control-label">&nbsp;</label>
					<p class="text-right">
						<span class="label label-info">4</span>
					</p>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<label class="control-label" for="job_position_4">Company Name</label>
						<input class="form-control" name="job_position_4" id="job_position_4" data-validate="require" placeholder="(Optional)" />
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="job_position_4">Job Position</label>
						<input class="form-control" name="job_position_4" id="job_position_4" data-validate="require" placeholder="(Optional)" />
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label" for="job_position_start_date_4">Start Date</label>
						<input class="form-control datepicker" name="job_position_start_date_4" id="job_position_start_date_4" placeholder="(Optional)" />
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label" for="job_position_end_date_4">End Date</label>
						<input class="form-control datepicker" name="job_position_end_date_4" id="job_position_end_date_4" placeholder="(Optional)" />
					</div>
				</div>

			</div>

		</div>

		<div class="tab-pane with-bg" id="fwv-5">

			<div class="form-group">
				<label class="control-label">Choose Username</label>

				<div class="input-group">
					<div class="input-group-addon">
						<i class="linecons-user"></i>
					</div>

					<input type="text" class="form-control" name="username" id="username" data-validate="required,minlength[5]" data-message-minlength="Username must have minimum of 5 chars." placeholder="Could also be your email" />
				</div>
			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Choose Password</label>

						<div class="input-group">
							<div class="input-group-addon">
								<i class="linecons-lock"></i>
							</div>

							<input type="password" class="form-control" name="password" id="password" data-validate="required" placeholder="Enter strong password" />
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Repeat Password</label>

						<div class="input-group">
							<div class="input-group-addon">
								<i class="linecons-lock"></i>
							</div>

							<input type="password" class="form-control" name="password" id="password" data-validate="required,equalTo[#password]" data-message-equal-to="Passwords doesn't match." placeholder="Confirm password" />
						</div>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Include Services</label>

						<select multiple="multiple" name="my-select[]" class="form-control multi-select">
							<option value="1">Web Builder</option>
							<option value="2" selected>Server Side Scripting</option>
							<option value="3">Secure Connection</option>
							<option value="4" selected>Database Access</option>
							<option value="5" selected>Email</option>
							<option value="6">eCommerce</option>
							<option value="7">Royalty Free Photos</option>
							<option value="8">WordPress Installation</option>
							<option value="9">Magento Installation</option>
							<option value="10">Reseller Account</option>
							<option value="11">WHM Client</option>
							<option value="12">Nginx</option>
						</select>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Gender</label>

						<br />

					    <input type="checkbox" class="iswitch iswitch-red" checked>
					</div>

					<div class="form-group">
						<label class="control-label">Subscribe for Newsletter</label>

						<br />

					    <input type="checkbox" class="iswitch iswitch-purple" checked>
					</div>

					<div class="form-group">
						<label class="control-label">
							Auto-renew Subscription
							<span class="label label-warning">Yearly</span>
						</label>

						<br />

					    <input type="checkbox" class="iswitch iswitch-secondary" checked>
					</div>
				</div>

			</div>

			<div class="form-group">
				<input type="checkbox" class="cbr" name="chk-rules" id="chk-rules" data-validate="required" data-message-message="You must accept rules in order to complete this registration.">
				<label for="chk-rules">By registering I accept terms and conditions.</label>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary">Finish Registration</button>
			</div>

		</div>


		<!-- Tabs Pager -->

		<ul class="pager wizard">
			<li class="previous">
				<a href=""><i class="entypo-left-open"></i> Previous</a>
			</li>

			<li class="next">
				<a href="">Next <i class="entypo-right-open"></i></a>
			</li>
		</ul>

	</div>

</form>
