

	<page-title ng-if="layoutOptions.pageTitles" title="Member Profile" description="Member's complete profile"></page-title>

<script type="text/javascript">
	jQuery(document).ready(function($)
	{
		$(".multi-select").multiSelect({
			afterInit: function()
			{
				// Add alternative scrollbar to list
				this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
			},
			afterSelect: function()
			{
				// Update scrollbar size
				this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
			}
		});

		$(".selectboxit").selectBoxIt().on('open', function()
		{
			// Adding Custom Scrollbar
			$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
		});
	});
</script>

<form role="forl" id="rootwizard" class="form-wizard validate" novalidate>

	<ul class="tabs">
		<li class="active">
			<a href="#fwv-1" data-toggle="tab">
				Personal Details
				<span>1</span>
			</a>
		</li>
		<li>
			<a href="#fwv-2" data-toggle="tab">
				Business Details
				<span>2</span>
			</a>
		</li>
		<li>
			<a href="#fwv-3" data-toggle="tab">
				Contact Details
				<span>3</span>
			</a>
		</li>
		<li>
			<a href="#fwv-4" data-toggle="tab">
				Miscellaneous
				<span>4</span>
			</a>
		</li>
		<li>
			<a href="#fwv-5" data-toggle="tab">
				Family Details
				<span>5</span>
			</a>
		</li>
		<li>
			<a href="#fwv-6" data-toggle="tab">
				Satsang Details
				<span>6</span>
			</a>
		</li>
	</ul>

	<div class="progress-indicator">
		<span></span>
	</div>

	<div class="tab-content no-margin">
		<!-- Tabs Content -->
		<div class="tab-pane with-bg active" id="fwv-1">
			<strong>Personal Info</strong>
			<br />
			<br />

			<div class="row">

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="title">Title</label>
						<select name="test" class="selectboxit">
							<optgroup label="Select Title">
								<option value="1">Mr.</option>
								<option value="2">Mrs.</option>
								<option value="3">Ms.</option>
								<option value="4">Dr.</option>
								<option value="5">Honorable.</option>
								<option value="6">Prof.</option>
							</optgroup>
						</select>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="first_name">First Name</label>
						<input class="form-control" name="first_name" id="first_name" data-validate="required" placeholder="Your First name" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="middle_name">Middle Name</label>
						<input class="form-control" name="middle_name" id="middle_name" placeholder="Your Middle name" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="last_name">Last Name</label>
						<input class="form-control" name="last_name" id="last_name" placeholder="Your Last name" />
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="birthdate">Gender</label>
						<div class="form-control">
							<label class="radio-inline">
								<input type="radio" name="rdo_gender" checked>
								Male
							</label>
							<label class="radio-inline">
								<input type="radio" name="rdo_gender">
								Female
							</label>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="birthdate">Date of Birth</label>
						<input class="form-control" inputmask name="birthdate" id="birthdate" data-mask="date" placeholder="Pre-formatted birth date" />
					</div>
				</div>
			</div>

			<div class="form-group-separator"></div>
			<strong>Residencial Address</strong>
			<br />
			<br />
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label">Select Country</label>

						<script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#s2example-1").select2({
									placeholder: 'Select your country...',
									allowClear: true
								}).on('select2-open', function()
								{
									// Adding Custom Scrollbar
									$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
								});

							});
						</script>

						<select class="form-control" id="s2example-1">
							<option></option>
							<optgroup label="North America">
								<option>Alabama</option>
								<option>Alaska</option>
								<option>Arizona</option>
								<option>Arkansas</option>
								<option>California</option>
								<option>Colorado</option>
								<option>Connecticut</option>
								<option>Delaware</option>
								<option>Florida</option>
								<option>Georgia</option>
								<option>Hawaii</option>
								<option>Idaho</option>
								<option>Illinois</option>
								<option>Indiana</option>
								<option>Iowa</option>
								<option>Kansas</option>
								<option>Kentucky[C]</option>
								<option>Louisiana</option>
								<option>Maine</option>
								<option>Maryland</option>
								<option>Massachusetts[D]</option>
								<option>Michigan</option>
								<option>Minnesota</option>
								<option>Mississippi</option>
								<option>Missouri</option>
								<option>Montana</option>
								<option>Nebraska</option>
								<option>Nevada</option>
								<option>New Hampshire</option>
								<option>New Jersey</option>
								<option>New Mexico</option>
								<option>New York</option>
								<option>North Carolina</option>
								<option>North Dakota</option>
								<option>Ohio</option>
								<option>Oklahoma</option>
								<option>Oregon</option>
								<option>Pennsylvania[E]</option>
								<option>Rhode Island[F]</option>
								<option>South Carolina</option>
								<option>South Dakota</option>
								<option>Tennessee</option>
								<option>Texas</option>
								<option>Utah</option>
								<option>Vermont</option>
								<option>Virginia[G]</option>
								<option>Washington</option>
								<option>West Virginia</option>
								<option>Wisconsin</option>
								<option>Wyoming</option>
							</optgroup>
							<optgroup label="Europe">
								<option>Albania</option>
								<option>Andorra</option>
								<option>Armenia</option>
								<option>Austria</option>
								<option>Azerbaijan</option>
								<option>Belarus</option>
								<option>Belgium</option>
								<option>Bosnia & Herzegovina</option>
								<option>Bulgaria</option>
								<option>Croatia</option>
								<option>Cyprus</option>
								<option>Czech Republic</option>
								<option>Denmark</option>
								<option>Estonia</option>
								<option>Finland</option>
								<option>France</option>
								<option>Georgia</option>
								<option>Germany</option>
								<option>Greece</option>
								<option>Hungary</option>
								<option>Iceland</option>
								<option>Ireland</option>
								<option>Italy</option>
								<option>Kosovo</option>
								<option>Latvia</option>
								<option>Liechtenstein</option>
								<option>Lithuania</option>
								<option>Luxembourg</option>
								<option>Macedonia</option>
								<option>Malta</option>
								<option>Moldova</option>
								<option>Monaco</option>
								<option>Montenegro</option>
								<option>The Netherlands</option>
								<option>Norway</option>
								<option>Poland</option>
								<option>Portugal</option>
								<option>Romania</option>
								<option>Russia</option>
								<option>San Marino</option>
								<option>Serbia</option>
								<option>Slovakia</option>
								<option>Slovenia</option>
								<option>Spain</option>
								<option>Sweden</option>
								<option>Switzerland</option>
								<option>Turkey</option>
								<option>Ukraine</option>
								<option>United Kingdom</option>
								<option>Vatican City (Holy See)</option>
							</optgroup>
							<optgroup label="Asia">
								<option>Afghanistan</option>
								<option>Bahrain</option>
								<option>Bangladesh</option>
								<option>Bhutan</option>
								<option>Brunei</option>
								<option>Cambodia</option>
								<option>China</option>
								<option>East Timor</option>
								<option>India</option>
								<option>Indonesia</option>
								<option>Iran</option>
								<option>Iraq</option>
								<option>Israel</option>
								<option>Japan</option>
								<option>Jordan</option>
								<option>Kazakhstan</option>
								<option>Korea North</option>
								<option>Korea South</option>
								<option>Kuwait</option>
								<option>Kyrgyzstan</option>
								<option>Laos</option>
								<option>Lebanon</option>
								<option>Malaysia</option>
								<option>Maldives</option>
								<option>Mongolia</option>
								<option>Myanmar (Burma)</option>
								<option>Nepal</option>
								<option>Oman</option>
								<option>Pakistan</option>
								<option>The Philippines</option>
								<option>Qatar</option>
								<option>Russia</option>
								<option>Saudi Arabia</option>
								<option>Singapore</option>
								<option>Sri Lanka</option>
								<option>Syria</option>
								<option>Taiwan</option>
								<option>Tajikistan</option>
								<option>Thailand</option>
								<option>Turkey</option>
								<option>Turkmenistan</option>
								<option>United Arab Emirates</option>
								<option>Uzbekistan</option>
								<option>Vietnam</option>
								<option>Yemen</option>
							</optgroup>
						</select>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="state">State/Provience/Region/Territory</label>

						<select name="test" class="selectboxit">
							<optgroup label="United States">
								<option value="1">Alabama</option>
								<option value="2">Boston</option>
								<option value="3">Ohaio</option>
								<option value="4">New York</option>
								<option value="5">Washington</option>
							</optgroup>
						</select>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="disctrict">District</label>
						<input class="form-control" name="disctrict" id="disctrict" placeholder="Current disctrict" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="state">Taluka</label>

						<select name="test" class="selectboxit">
							<optgroup label="United States">
								<option value="1">Alabama</option>
								<option value="2">Boston</option>
								<option value="3">Ohaio</option>
								<option value="4">New York</option>
								<option value="5">Washington</option>
							</optgroup>
						</select>


					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="state">City/Villege</label>

						<select name="test" class="selectboxit">
							<optgroup label="United States">
								<option value="1">Alabama</option>
								<option value="2">Boston</option>
								<option value="3">Ohaio</option>
								<option value="4">New York</option>
								<option value="5">Washington</option>
							</optgroup>
						</select>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="zip">Zip/Pin Code</label>
						<input class="form-control" inputmask name="zip" id="zip" data-mask="*** ***" placeholder="Zip Code" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="flat_no">House/Flat No./P.O.Box</label>
						<input class="form-control" name="flat_no" id="flat_no" placeholder="Enter your Flat/House/P.O.Box number" />
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label class="control-label" for="apartment_society_street_name">Apartment Name / Society Name / Street Name </label>
						<input class="form-control" name="apartment_society_street_name" id="apartment_society_street_name" placeholder="Enter Apartment / Society / Street name" />
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="area_landmark">Area/Landmark</label>
						<input class="form-control" name="area_landmark" id="area_landmark" placeholder="Area / Landmark" />
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="extra_address">Address 2</label>
						<input class="form-control" name="extra_address" id="extra_address" placeholder="(Optional) Secondary Address" />
					</div>
				</div>

			</div>

			<div class="form-group-separator"></div>
			<strong>Other Details</strong>
			<br />
			<br />

			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="relation">Relation</label>
						<select name="relation" class="selectboxit">
							<optgroup label="Relation">
								<option value="1">Self</option>
								<option value="2">Husband</option>
								<option value="3">Wife</option>
								<option value="4">Son</option>
								<option value="5">Daughter</option>
								<option value="6">Father</option>
								<option value="7">Mother</option>
								<option value="8">Brother</option>
								<option value="9">Sister</option>
								<option value="10">Grand Father</option>
								<option value="11">Grand Monther</option>
								<option value="12">Grand Son</option>
								<option value="13">Grand Daughter</option>
								<option value="14">Father in Law</option>
								<option value="15">Mother in Law</option>
								<option value="16">Brother in Law</option>
								<option value="17">Sister in Law</option>
								<option value="18">Uncle</option>
								<option value="19">Aunty</option>
								<option value="20">Nephew</option>
								<option value="21">Niece</option>
								<option value="22">Brother's Wife</option>
							</optgroup>
						</select>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="reference">Reference</label>
						<input class="form-control" name="reference" id="reference" placeholder="Reference person" />
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="relation">Head Type</label>
						<select name="head-type" class="selectboxit">
							<optgroup label="Head Type">
								<option value="1">A</option>
								<option value="2">B</option>
								<option value="3">C</option>
								<option value="4">D</option>
							</optgroup>
						</select>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="reference">Blood Group</label>
						<select name="blood-group" class="selectboxit">
							<optgroup label="Select Blood Group">
								<option value="1">A+</option>
								<option value="2">A-</option>
								<option value="3">AB+</option>
								<option value="4">AB-</option>
								<option value="5">B+</option>
								<option value="6">B-</option>
								<option value="7">O+</option>
								<option value="8">O-</option>
							</optgroup>
						</select>
					</div>
				</div>

			</div>

			<div class="form-group-separator"></div>
			<strong>Details in Gujarati</strong>
			<br />
			<br />

			<div class="row">

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="first_name_gujarati">નામ</label>
						<input class="form-control" name="first_name_gujarati" id="first_name_gujarati" placeholder="Your First name" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="middle_name_gujarati">પિતા/પતિનું નામ</label>
						<input class="form-control" name="middle_name_gujarati" id="middle_name_gujarati" placeholder="Your Middle name" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="last_name_gujarati">અટક</label>
						<input class="form-control" name="last_name_gujarati" id="last_name_gujarati" placeholder="Your Last name" />
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="disctrict_gujarati">જીલ્લાનું નામ</label>
						<input class="form-control" name="disctrict_gujarati" id="disctrict_gujarati" placeholder="Current disctrict" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="taluka_gujarati">તાલુકાનું નામ</label>
						<input class="form-control" name="taluka_gujarati" id="taluka_gujarati" placeholder="Current taluka" />
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="city_villege_gujarati">શહેર/ગામડાનું નામ</label>

						<input class="form-control" name="city_villege_gujarati" id="city_villege_gujarati" placeholder="Current city_villege" />
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="flat_no_gujarati">ઘર નં./ફ્લેટ નં./પી.ઓ.બોક્ષ નં.</label>
						<input class="form-control" name="flat_no_gujarati" id="flat_no_gujarati" placeholder="Enter your Flat/House/P.O.Box number" />
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label class="control-label" for="apartment_society_street_name_gujarati">સોસાયટીનું નામ / એપાર્ટમેન્ટનું નામ / શેરીનું નામ (સરનામું ૧)</label>
						<input class="form-control" name="apartment_society_street_name_gujarati" id="apartment_society_street_name_gujarati" placeholder="Enter Apartment / Society / Street name" />
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="area_landmark_gujarati">એરિયાનું નામ (સરનામું ૨)</label>
						<input class="form-control" name="area_landmark_gujarati" id="area_landmark_gujarati" placeholder="Area / Landmark" />
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="extra_address_gujarati">સરનામું ૩</label>
						<input class="form-control" name="extra_address_gujarati" id="extra_address_gujarati" placeholder="(Optional) Secondary Address" />
					</div>
				</div>

			</div>
		</div>

		<div class="tab-pane with-bg" id="fwv-2">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="birthdate">Occupation</label>
						<div class="form-control">
							<label class="radio-inline">
								<input type="radio" name="rdo_occupation" checked>
								Business
							</label>
							<label class="radio-inline">
								<input type="radio" name="rdo_occupation">
								Job
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group-separator"></div>
			<strong>Business Detail</strong>
			<br />
			<br />

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="firm_name">Firm Name</label>
						<input class="form-control" name="firm_name" id="firm_name" data-validate="require" placeholder="Firm Name" />
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="business_type">Business Type</label>
						<input class="form-control" name="business_type" id="business_type" data-validate="require" placeholder="Type of Business" />
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="desc_business">Description of Business</label>
						<textarea class="form-control autogrow" name="desc_business" id="desc_business" data-validate="minlength[10]" rows="5" placeholder="Add some details about your business"></textarea>
					</div>
				</div>

			</div>


			<div class="form-group-separator"></div>
			<strong>Job Detail</strong>
			<br />
			<br />

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="company_name">Company Name</label>
						<input class="form-control" name="company_name" id="company_name" placeholder="Company Name" />
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="working_as">Working As</label>
						<input class="form-control" name="working_as" id="working_as" placeholder="Working As" />
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="desc_job">Description of Job</label>
						<textarea class="form-control autogrow" name="about_skills" id="about_skills" data-validate="minlength[10]" rows="5" placeholder="Add some details about your Job"></textarea>
					</div>
				</div>

			</div>


			<div class="form-group-separator"></div>
			<strong>Business/Job Address</strong>
			<br />
			<br />
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label">Select Country</label>

						<script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#s2example-1").select2({
									placeholder: 'Select your country...',
									allowClear: true
								}).on('select2-open', function()
								{
									// Adding Custom Scrollbar
									$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
								});

							});
						</script>

						<select class="form-control" id="s2example-1">
							<option></option>
							<optgroup label="North America">
								<option>Alabama</option>
								<option>Alaska</option>
								<option>Arizona</option>
								<option>Arkansas</option>
								<option>California</option>
								<option>Colorado</option>
								<option>Connecticut</option>
								<option>Delaware</option>
								<option>Florida</option>
								<option>Georgia</option>
								<option>Hawaii</option>
								<option>Idaho</option>
								<option>Illinois</option>
								<option>Indiana</option>
								<option>Iowa</option>
								<option>Kansas</option>
								<option>Kentucky[C]</option>
								<option>Louisiana</option>
								<option>Maine</option>
								<option>Maryland</option>
								<option>Massachusetts[D]</option>
								<option>Michigan</option>
								<option>Minnesota</option>
								<option>Mississippi</option>
								<option>Missouri</option>
								<option>Montana</option>
								<option>Nebraska</option>
								<option>Nevada</option>
								<option>New Hampshire</option>
								<option>New Jersey</option>
								<option>New Mexico</option>
								<option>New York</option>
								<option>North Carolina</option>
								<option>North Dakota</option>
								<option>Ohio</option>
								<option>Oklahoma</option>
								<option>Oregon</option>
								<option>Pennsylvania[E]</option>
								<option>Rhode Island[F]</option>
								<option>South Carolina</option>
								<option>South Dakota</option>
								<option>Tennessee</option>
								<option>Texas</option>
								<option>Utah</option>
								<option>Vermont</option>
								<option>Virginia[G]</option>
								<option>Washington</option>
								<option>West Virginia</option>
								<option>Wisconsin</option>
								<option>Wyoming</option>
							</optgroup>
							<optgroup label="Europe">
								<option>Albania</option>
								<option>Andorra</option>
								<option>Armenia</option>
								<option>Austria</option>
								<option>Azerbaijan</option>
								<option>Belarus</option>
								<option>Belgium</option>
								<option>Bosnia & Herzegovina</option>
								<option>Bulgaria</option>
								<option>Croatia</option>
								<option>Cyprus</option>
								<option>Czech Republic</option>
								<option>Denmark</option>
								<option>Estonia</option>
								<option>Finland</option>
								<option>France</option>
								<option>Georgia</option>
								<option>Germany</option>
								<option>Greece</option>
								<option>Hungary</option>
								<option>Iceland</option>
								<option>Ireland</option>
								<option>Italy</option>
								<option>Kosovo</option>
								<option>Latvia</option>
								<option>Liechtenstein</option>
								<option>Lithuania</option>
								<option>Luxembourg</option>
								<option>Macedonia</option>
								<option>Malta</option>
								<option>Moldova</option>
								<option>Monaco</option>
								<option>Montenegro</option>
								<option>The Netherlands</option>
								<option>Norway</option>
								<option>Poland</option>
								<option>Portugal</option>
								<option>Romania</option>
								<option>Russia</option>
								<option>San Marino</option>
								<option>Serbia</option>
								<option>Slovakia</option>
								<option>Slovenia</option>
								<option>Spain</option>
								<option>Sweden</option>
								<option>Switzerland</option>
								<option>Turkey</option>
								<option>Ukraine</option>
								<option>United Kingdom</option>
								<option>Vatican City (Holy See)</option>
							</optgroup>
							<optgroup label="Asia">
								<option>Afghanistan</option>
								<option>Bahrain</option>
								<option>Bangladesh</option>
								<option>Bhutan</option>
								<option>Brunei</option>
								<option>Cambodia</option>
								<option>China</option>
								<option>East Timor</option>
								<option>India</option>
								<option>Indonesia</option>
								<option>Iran</option>
								<option>Iraq</option>
								<option>Israel</option>
								<option>Japan</option>
								<option>Jordan</option>
								<option>Kazakhstan</option>
								<option>Korea North</option>
								<option>Korea South</option>
								<option>Kuwait</option>
								<option>Kyrgyzstan</option>
								<option>Laos</option>
								<option>Lebanon</option>
								<option>Malaysia</option>
								<option>Maldives</option>
								<option>Mongolia</option>
								<option>Myanmar (Burma)</option>
								<option>Nepal</option>
								<option>Oman</option>
								<option>Pakistan</option>
								<option>The Philippines</option>
								<option>Qatar</option>
								<option>Russia</option>
								<option>Saudi Arabia</option>
								<option>Singapore</option>
								<option>Sri Lanka</option>
								<option>Syria</option>
								<option>Taiwan</option>
								<option>Tajikistan</option>
								<option>Thailand</option>
								<option>Turkey</option>
								<option>Turkmenistan</option>
								<option>United Arab Emirates</option>
								<option>Uzbekistan</option>
								<option>Vietnam</option>
								<option>Yemen</option>
							</optgroup>
						</select>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="state">State/Provience/Region/Territory</label>

						<select name="test" class="selectboxit">
							<optgroup label="United States">
								<option value="1">Alabama</option>
								<option value="2">Boston</option>
								<option value="3">Ohaio</option>
								<option value="4">New York</option>
								<option value="5">Washington</option>
							</optgroup>
						</select>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="city">City</label>
						<input class="form-control" name="city" id="city" placeholder="Current city" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="flat_no">House/Flat No./P.O.Box</label>
						<input class="form-control" name="flat_no" id="flat_no" placeholder="Enter your Flat/House/P.O.Box number" />
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label class="control-label" for="apartment_society_street_name">Apartment Name /Society Name /Street Name </label>
						<input class="form-control" name="apartment_society_street_name" id="apartment_society_street_name" placeholder="Enter Apartment / Society / Street name" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="area_landmark">Area/Landmark</label>
						<input class="form-control" name="area_landmark" id="area_landmark" placeholder="Area / Landmark" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label class="control-label" for="extra_address">Address 2</label>
						<input class="form-control" name="extra_address" id="extra_address" placeholder="(Optional) Secondary Address" />
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label" for="zip">Zip/Pin Code</label>
						<input class="form-control" inputmask name="zip" id="zip" data-mask="*** ***" placeholder="Zip Code" />
					</div>
				</div>
			</div>

		</div>

		<div class="tab-pane with-bg" id="fwv-3">

			<div class="row">

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="phones">Phone</label>
						<fieldset data-ng-repeat="choice in choices">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
							      <select name="phones" class="form-control">
							         <option>Mobile</option>
											 <option>Whatsapp</option>
							         <option>Work</option>
							         <option>Home</option>
											 <option>Main</option>
											 <option>Work Fax</option>
							         <option>Home Fax</option>
											 <option>Other</option>
							      </select>
									</div>
								</div>
								<div class="col-md-8">
									<div class="form-group">
							      <input type="text" ng-model="choice.name" name="" class="form-control" placeholder="Enter mobile number">
									</div>
								</div>
								<div class="col-md-1">
									<a class="pull-right btn btn-xs" ng-click="removeChoice()"><span class="form-control glyphicon glyphicon-remove"></span></a>
								</div>
							</div>

				   	</fieldset>
				   	<button class="btn btn-primary" ng-click="addNewChoice()">Add More Phone</button>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="phones">Email</label>
						<fieldset data-ng-repeat="choice in choices">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
							      <select name="phones" class="form-control">
							         <option>Home</option>
											 <option>Work</option>
							         <option>Other</option>
							      </select>
									</div>
								</div>
								<div class="col-md-8">
									<div class="form-group">
							      <input type="text" ng-model="choice.name" name="" class="form-control" placeholder="Enter email">
									</div>
								</div>
								<div class="col-md-1">
									<a class="pull-right btn btn-xs" ng-click="removeChoice()"><span class="form-control glyphicon glyphicon-remove"></span></a>
								</div>
							</div>

				   	</fieldset>
				   	<button class="btn btn-primary" ng-click="addNewChoice()">Add More Email</button>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="skype_id">Skype</label>
						<input class="form-control" name="skype_id" id="skype_id" data-validate="require" placeholder="Skype Id" />
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="website">Website</label>
						<input class="form-control" name="website" id="website" placeholder="Personal/Company Website" />
					</div>
				</div>

			</div>
		</div>

		<div class="tab-pane with-bg" id="fwv-4">

			<strong>Educational Details</strong>
			<br />
			<br />

			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="qualification">Qualification</label>
						<select name="qualification" class="selectboxit">
							<option value="1">Doctorate</option>
							<option value="2">Post Graduate</option>
							<option value="3">Graduate</option>
							<option value="4">Diploma</option>
							<option value="5">Under Graduate</option>
						</select>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label" for="school_name">School/College</label>
						<input class="form-control" name="school_name" id="school_name" data-validate="require" placeholder="Enter School / College Name" />
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Skills</label>
						<script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#s2example-2").select2({
									placeholder: 'Select multiple skills you have...',
									allowClear: true
								}).on('select2-open', function()
								{
									// Adding Custom Scrollbar
									$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
								});

							});
						</script>

						<select class="form-control" id="s2example-2" multiple>
							<option></option>
							<optgroup label="Computer Programming">
								<option>Java Development</option>
								<option>.Net Development</option>
								<option>PHP Development</option>
								<option>Android Development</option>
								<option>Front End Development</option>
							</optgroup>
							<optgroup label="Computer Designing">
								<option>Coerldraw</option>
								<option>Photoshop</option>
								<option>PageMaker</option>
							</optgroup>
							<optgroup label="Computer Other">
								<option>Networking</option>
								<option>Microsoft Office</option>
							</optgroup>
							<optgroup label="Handycraft / Decoration">
								<option>Painting</option>
								<option>Quilling Papers</option>
							</optgroup>
							<optgroup label="Others">
								<option>Driving</option>
								<option>Accounting</option>
								<option>Training</option>
							</optgroup>
						</select>

					</div>

					<div class="form-group">
						<label class="control-label" for="about">Write Something About Your Skills</label>
						<textarea class="form-control autogrow" name="about_skills" id="about_skills" data-validate="minlength[10]" rows="5" placeholder="Add your multiple skills with experience"></textarea>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="phones">Special Information</label>
						<fieldset data-ng-repeat="choice in choices">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
							      <select name="phones" class="form-control">
							         <option>Home</option>
											 <option>Work</option>
							         <option>Other</option>
							      </select>
									</div>
								</div>
								<div class="col-md-8">
									<div class="form-group">
							      <input type="text" ng-model="choice.name" name="" class="form-control" placeholder="Enter Information">
									</div>
								</div>
								<div class="col-md-1">
									<a class="pull-right btn btn-xs" ng-click="removeChoice()"><span class="form-control glyphicon glyphicon-remove"></span></a>
								</div>
							</div>

				   	</fieldset>
				   	<button class="btn btn-primary" ng-click="addNewChoice()">Add More Special Information</button>
					</div>
				</div>
			</div>

		</div>

		<div class="tab-pane with-bg" id="fwv-5">

			<strong>Family Members</strong>
			<br />
			<br />

			<div class="row">

				<div class="col-md-12">
					<div class="form-group">
						No Family Members at a moment...
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-3">
					<div class="form-group">
						<button class="btn btn-primary" ng-click="addNewChoice()">Add Family Member</button>
					</div>
				</div>

			</div>



		</div>

		<div class="tab-pane with-bg" id="fwv-6">

			<strong>Events</strong>
			<br />
			<br />

			<div class="row">
				<div class="col-sm-3">

					<div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="99.9" data-suffix="%" data-duration="2">
						<div class="xe-icon">
							<i class="linecons-cloud"></i>
						</div>
						<div class="xe-label">
							<strong class="num">0.0%</strong>
							<span>Satsang Grades</span>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="xe-widget xe-counter xe-counter-blue" data-count=".num" data-from="1" data-to="117" data-suffix="k" data-duration="3" data-easing="false">
						<div class="xe-icon">
							<i class="linecons-user"></i>
						</div>
						<div class="xe-label">
							<strong class="num">1k</strong>
							<span>Padharamni</span>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="xe-widget xe-counter xe-counter-info" data-count=".num" data-from="1000" data-to="2470" data-duration="4" data-easing="true">
						<div class="xe-icon">
							<i class="linecons-camera"></i>
						</div>
						<div class="xe-label">
							<strong class="num">1000</strong>
							<span>Add Photos</span>
						</div>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="xe-widget xe-counter xe-counter-red" xe-counter data-count=".num" data-from="0" data-to="57" data-prefix="-," data-suffix="%" data-duration="5" data-easing="true" data-delay="1">
						<div class="xe-icon">
							<i class="linecons-lightbulb"></i>
						</div>
						<div class="xe-label">
							<strong class="num">-,0%</strong>
							<span>Karyakar</span>
						</div>
					</div>

				</div>
			</div>

			<!-- <div class="row">

				<div class="col-sm-4">

					<div class="xe-widget xe-counter-block  xe-counter-block-blue">
						<div class="xe-upper">

							<div class="xe-icon">
								<i class="linecons-cloud"></i>
							</div>
							<div class="xe-label">
								<strong class="num">Satsang Grades</strong>
								<span>Server uptime</span>
							</div>

						</div>
						<div class="xe-lower">
							<div class="border"></div>

							<span>Result</span>
							<strong>78% Increase</strong>
						</div>
					</div>

				</div>

				<div class="col-sm-4">

					<div class="xe-widget xe-counter-block xe-counter-block-blue">
						<div class="xe-upper">

							<div class="xe-icon">
								<i class="linecons-camera"></i>
							</div>
							<div class="xe-label">
								<strong class="num">Add Photos</strong>
								<span>Photos Taken</span>
							</div>

						</div>
						<div class="xe-lower">
							<div class="border"></div>

							<span>Increase</span>
							<strong>512 more photos</strong>
						</div>
					</div>

				</div>

				<div class="col-sm-4">

					<div class="xe-widget xe-counter-block xe-counter-block-blue">
						<div class="xe-upper">

							<div class="xe-icon">
								<i class="linecons-user"></i>
							</div>
							<div class="xe-label">
								<strong class="num">Padhramni</strong>
								<span>Daily Visits</span>
							</div>

						</div>
						<div class="xe-lower">
							<div class="border"></div>

							<span>Bounce Rate</span>
							<strong>51.55%</strong>
						</div>
					</div>

				</div>
			</div> -->
			<!-- <div class="row">
				<div class="col-sm-4">

					<div class="xe-widget xe-counter-block xe-counter-block-blue">
						<div class="xe-upper">

							<div class="xe-icon">
								<i class="fa-life-ring"></i>
							</div>
							<div class="xe-label">
								<strong class="num">Karyakar</strong>
								<span>Live Support</span>
							</div>

						</div>
						<div class="xe-lower">
							<div class="border"></div>

							<span>Tickets Opened</span>
							<strong xe-counter data-count="this" data-from="0" data-to="14215" data-duration="2">0</strong>
						</div>
					</div>

				</div>



			</div> -->

		</div>
		<!-- <div class="col-md-4">
			<button class="btn btn-primary" ng-click="">Add Images</button>
		</div>

		<div class="col-md-4">
			<button class="btn btn-primary" ng-click="">Add Satsang Grade</button>
		</div>

		<div class="col-md-4">
			<button class="btn btn-primary" ng-click="">Add Padhramni Grade</button>
		</div> -->

		<!-- Tabs Pager -->

		<ul class="pager wizard">
			<li class="previous">
				<a href=""><i class="entypo-left-open"></i> Previous</a>
			</li>

			<li class="next">
				<a href="">Next <i class="entypo-right-open"></i></a>
			</li>
		</ul>

	</div>

</form>
